# Local Expo files
.expo/*
node_modules/
web-build/

# Native directories
ios/
android/

# Ensure assets ARE NOT ignored
!assets/*.png
!assets/*.jpg

# Build binaries
*.apk
*.aab
*.ipa

# Environment variables
.env